<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My First Web App</title>

  <!-- link the main css file -->
  <link rel="stylesheet" href="styles/styles.css" />

  <!-- link the main js file -->
  <script type="module" src="scripts/app.js"></script>
</head>

<body>
  <main>
    <article>

      <div class="w-100 py-5 my-5"></div>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="display-2"> Scrolly Demo </h1>
              <a href="https://prasantakrdutta.notion.site/Scrollytelling-2139c5d26b8043169c2ac5af9798c12a" target="_blank" class="btn btn-primary lead fw-bold">Read the docs</a>
            </div>
          </div>
        </div>
      </section>

      <div class="w-100 my-5"></div>

      <!-- scrolly -->
      <section id="doge-scrolly">

        <!-- define the scroll sections -->
        <% const blocks=
          [
            { 
              "filename" : "doge_1" , 
              "anno" : "_blank-slide_" 
            }, 
            { 
              "filename" : "doge_2" , 
              "anno": "The Dogefather"
            },
            { 
              "filename" : "doge_3" , 
              "anno": "<div class='h5 fw-bold'> Doge Title </div> Much Doge Such Wow"  
            }
          ] 
        %>
        <!-- every { filename, anno } object makes a new section -->

        <!-- include the component -->
        <%- include('./scrolly/scrolly.ejs', {id: "doge-scrolly" , blocks: blocks }); %>
        
      </section>

      <div class="w-100 py-5 my-5"></div>

    </article>
  </main>
</body>

</html>